.header-container {
    display: flex;
    background-color: aliceblue;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: space-between;

}

.img-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-container img {
    width: 80px;
    height: 30px;
}

.custom-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.link-item {
    margin-left: 20px;
}